body {
    margin: 0rem;
    font-size: 1rem;
    background-color:rgb(246, 245, 244);
}

nav {
    display: block;
    background-color: beige;
}

#nav-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

nav div#title{
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    width: 200px;
}

nav ul {
    display: inline-block;
    padding: 0rem;
}

nav li {
    /* background-color: aqua; */
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#container {
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding: 0rem;
    margin: 10px;
    
}

h2 {
    padding: 0rem;
    margin-top: 10px;
    margin-bottom: 0px;
}

#selfie {
    /* margin-bottom: 20px; */
}

#side-bar {
    float: left;
    margin: 10px;
}

#side-bar #contact {
    border-style: solid;
    border-color: rgb(171, 171, 171);
    border-width: 0rem 0rem 0.1rem 0rem;
}
#side-bar div#contact ul {
    padding: 0rem;
}
#side-bar div#contact ul li {
    list-style: none;
}

#side-bar #links {
    border-style: solid;
    border-color: rgb(171, 171, 171);
    border-width: 0rem 0rem 0.1rem 0rem;
}
#side-bar div#links ul {
    padding: 0rem;
}
#side-bar div#links ul li {
    list-style: none;
    display: inline-block;
}

#side-bar #news {
    border-style: solid;
    border-color: rgb(171, 171, 171);
    border-width: 0rem 0rem 0.1rem 0rem;
}
#side-bar div#news ul {
    padding: 0rem;
}
#side-bar div#mews ul li {
    list-style: none;
    display: inline-block;
}

div#content {
    margin: 20px;
    padding: px;
}