body {
    font-family: gill sans, sans-serif;
    margin: 0rem;
    font-size: 1.1rem;
    background-color:rgb(246, 245, 244);
    color:rgb(46, 46, 46);
}
a {
    text-decoration: none;
    color:rgb(131, 128, 125);
}

#head-bar {
    display: block;
    position: sticky;
    top: 0px;
    background-color: rgb(100, 103, 107);
    border-bottom: 1px solid #e1e1e1;
    color: #ffffff;
}

#head-bar nav {
    display: inline-block;
    padding: 0rem;
}

#head-bar-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#head-bar div#title{
    font-family: georgia, serif;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    width: 250px;
}

#head-bar ul {
    display: inline-block;
    padding: 0rem;
}

#head-bar li {
    /* background-color: aqua; */
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#container {
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 400px;
}

h1 {
    padding: 0rem;
    margin: 10px;
    
}

h2 {
    padding: 0rem;
    margin-top: 10px;
    margin-bottom: 0px;
}

#selfie {
    text-align: center;
    /* margin-bottom: 20px; */
}

#side-bar {
    display: inline-block;
    width: 25%;
    margin: 10px;
    margin-top: 30px;
}

#side-bar #contact {
    border-style: solid;
    border-color: rgb(171, 171, 171);
    border-width: 0rem 0rem 0.1rem 0rem;
}
#side-bar #contact ul {
    list-style: none;
    padding: 0rem;
}

#side-bar #links {
    border-style: solid;
    border-color: rgb(171, 171, 171);
    border-width: 0rem 0rem 0.1rem 0rem;
}
#side-bar #links ul {
    list-style: none;
    padding: 0rem;
}
#side-bar #links ul li {
    display: inline-block;
}

#side-bar #news {
    border-style: solid;
    border-color: rgb(171, 171, 171);
    border-width: 0rem 0rem 0.1rem 0rem;
}
#side-bar #news ul {
    list-style: none;
    padding: 0rem;
}
#side-bar #mews ul li {
    list-style: none;
    display: inline-block;
}

#content {
    display: inline-block;
    width: 68%;
    height: 100%;
    margin: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #9ba1a6;
    margin: auto;
    background-color: #d9d9d9;
}

#footer {
    display: inline-block;
    text-align: center;
    width: 400px;
    color: #8a8e92;
}

#visitors {
    display: inline-block;
    width: 300px;
    border: 0px;
    border-spacing: 0px;
    border-collapse: separate;
}

#menuToggle {
    display: none;
}
#menu-icon {
    display: none;
}
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    #head-bar-container {
        width: 100%;
        display: block;
        /* justify-content: space-between; */
        align-items: center;
    }

    #container {
        display: flex;
        width: 100%;
        /* margin-left: auto;
        margin-right: auto; */
        padding-bottom: 400px;
    }
    #side-bar {
        display: inline-block;
        width: 300px;
        margin: 10px;
        margin-top: 30px;
    }
}
@media only screen and (min-width: 350px) and (max-width: 500px) {
    #head-bar {
        /* z-index: 10; */
        height: 3rem;
    }
    #head-bar-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #container {
        display: block;
        width: 100%;
        padding-bottom: 200px;
    }
    #side-bar {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #content {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #menu-bar ~ * {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    #menu-bar {
        /* z-index: 1; */
        position: fixed;
        margin: 0rem;
        top: 3rem;
        right: -30%;
        align-items: left;
        width: 25%;
        height: 20%;
        opacity: 0.7;
        background-color: rgb(100, 103, 107);
        transition: right 1s;
        justify-content: space-around;
        border-radius: 1rem 0rem 0rem 1rem;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }
    #menu-bar ul {
        display: block;
        flex-direction: column;
        text-align: center;
        list-style-type: none;
    }
    #menu-bar li {
        display: block;
        line-height: 1.5rem;
        font-size: 1.5rem;
        list-style-type: none;
    }
    #menu-bar li a {
        color: black;
        text-decoration: none;
        transition: background-color 1s;
    }
    #menuToggle {
        display: none;
        /* position: fixed; */
        width: 3rem;
        height: 3rem;
        opacity: 0;
    }
    #menu-icon {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        opacity: 1;
        background-image: url("../images/menu-icon.png");
        background-size: cover;
        background-color: transparent;
        /* cursor: pointer; */
    }
    #menu-icon:focus{
        opacity: 1;
    }
    #menu-bar:has(~ #menu-icon:focus) {
        right: 0;
    }
    #footer {
        width: 100%;
    }
    #visitors {
        width: 80%;
    }
}